*{
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns:"";
   

}

.wrapper {
    
    border-radius: 5px;
    
    padding: 0 300px 0 300px;
  }
  
  .wrapper > div {
    border: 2px solid #ffa9da4d;
    border-radius: 5px;
    background-color: white;
    padding: 0 100px 0 100px;
    color: #d9480f;
  }

  body{
    background-image: url("image-1.jpg");  
    background-size: cover;
  }

.footer{
  padding: 50px;
}
